* {
    font-family:'Roboto' , sans-serif;
}

header {
    position: relative;
}

nav {
    height: 53px;
    background: #212121;
}

.menu {   
    display: flex; 
    justify-content: space-between;
    padding: 14px 71px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 47px;
}

.menu .menu_item:last-child {
    border-right: none;
}

.subheader  {
    position: absolute;
    width: 100%;
    height: 87px;
    background-color: rgba(0,0,0,.6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    margin-top: 6px;
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.5;
}

.subheader .subheader_call {
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 19px;
    text-align: right;
}

.subheader .subheader_phone {
    margin-top: 8px;
    font-weight: 400;
    font-size: 22px;
    line-height: 12px;
    display: block;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
    min-height: 800px;
    background: url(../img/uber_bg.jpg) center center/cover no-repeat;
    padding: 150px 0 185px 0;
}

.promo .promo_header {
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

.promo .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF; 
    line-height: 36px; 
    margin: 0;
    margin-top: 22px;
    text-align: center;
}

.promo .promo_descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 23px;
    padding: 0 10px;
}

.promo .promo_btn {
    display: block;
    margin: 116px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 6px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000;
    color:#FFFFFF;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.title {
    margin-bottom: 0;
    margin-top: 38px;
    color:#222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}


.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
 
.reasons .reasons_block .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.reasons .reasons_block .reasons_descr {
    width: 343px;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle {
    line-height: 21px;
    color:#1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.reasons .reasons_block .reasons_descr .reasons_text {
    color:#202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #222222;
}

.mobile {
    min-height: 864px;
    padding:  48px 0 79px 0;
    background: url('../img/mobile_bg.png') center center/cover no-repeat;
}

.mobile .row {
    margin-top: 32px;
}

.mobile_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px;
}

.mobile_item_1 {
    background: url('../img/mobile_1.png') center center/cover no-repeat;
}

.mobile_item_2 {
    background: url('../img/mobile_2.png') center center/cover no-repeat;
}

.mobile_item_3 {
    background: url('../img/mobile_3.png') center center/cover no-repeat;
}

.mobile_item_4 {
    background: url('../img/mobile_4.png') center center/cover no-repeat;
}

.mobile_item_5 {
    background: url('../img/mobile_5.png') center center/cover no-repeat;
}

.mobile_item_6 {
    background: url('../img/mobile_6.png') center center/cover no-repeat;
}


.mobile_item_subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.mobile_item_plus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 26px;
    height: 26px;
    background: #000000;
    margin: 0 auto;
    border-radius: 100%;
    cursor: pointer;

}
.mobile_item_plus::before {
    content: '';
    display: block;
    width: 14px;
    height: 2px;
    background-color: #1EACC7;
}

.mobile_item_plus::after {
    content: '';
    position: absolute;
    background-color: #1EACC7;
    display: block;
    width: 2px;
    height: 14px;
    left: 50%;
    transform: translateX(-50%);
}

.mobile_item_plus:hover {
    background-color: #FF5656;
}

.choice  {
	position: relative;
	min-height: 895px;
	padding: 57px 0 138px 0;
	background: url('../img/bg/mobile_bg.png') center (center / cover) no-repeat\;
}
.choice_img {
    position: relative;
    display: block;
    margin: 56px auto 0 auto;
    z-index: 2;
}
.choice_descr {
    text-align: center;
    color: #222222;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
}
.choice .black {
    position: absolute;
    top: 0;
    left: 0;
    height: 499px;
    width: 100%;
    background-color: #070716;
    z-index: -1;
}

.choice .label_white {
    color: #070716;
    background: #FFFFFF;
}
.choice .title_white {
    color: #FFFFFF;
}
.choice .subtitle_white {
    color: #FFFFFF;
}

.require {
    padding: 68px 0 84px 0;
}
.require .require_block {
    margin: 33px 0;
}
.require_block_nmb {
    margin-bottom: 0;
}

.require_title {
    font-weight: 400;
    font-size: 22px;
    color: #1CA8C3;
    }

.require_list {
    list-style-type: none;
    padding-left: 50px;
    margin-top: 22px;
}

.require_list li {
    position: relative;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
}

.require_list li::before {
    content: '';
    display: block;
    position: absolute;
    left: -32px;
    top: 3px;
    width: 21px;
    height: 20px;
    background: url(../img/check_blue\ 2.svg)center center/cover no-repeat;
}

.require_descr {
    font-weight: 300;
    font-size: 17px;
    color: #1CA8C3;
}

.require_block_nmb .require_title {
    color: #FF5656;
}
.require_block_nmb li::before{
    background: url(../img/check_red\ 2.svg)center center/cover no-repeat;
}

.world .label_white {
    color: #070716;
    background: #FFFFFF;
    text-align: center;
}
.world .title_white {
    color: #FFFFFF;
}
.world .subtitle_white {
    color: #FFFFFF;
}

.world {
    position: relative;
    min-height: 720px;
    background-color:black;
    padding-top: 48px 0;
    background-image: url(../img/world_bg.jpg)
}

.world_watch {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 49px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 68px;
    text-transform: uppercase;
    color: #1fbad6;
}
    
footer {
	padding: 14px 23px 39px 23px;
}

footer a a:hover {
    text-decoration: none;
} 

.footer_divider {
    width: 299px;
    height: 4px;
    background-color: #1fbad6;
    margin: 0 auto;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 32px;
}
.footer_wrapper > div {
	width: 33%;
}
.footer_wrapper:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}
.footer_social {
    width: 160px;
    display: flex;
    justify-content: space-between;
}
.footer_social_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    width: 32px;
    height: 32px;
    background-color: #070716;
    border-radius: 100%;
}
.footer_social_item i {
	color: #fff;
}
.footer_links {
    width: 390px;
    margin: 0 auto;
}
.footer_links_main {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.footer_links_main _main a {
    color: #070716;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}
.footer_links_sub {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.footer_links_sub a {
    color: #999999;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}
.footer_links_lang {
    display: block;
    margin: 0 auto;
    color: #1fbad6;
    font-size: 11px;
    font-weight: 400;
    margin-top: 19px;
    text-transform: uppercase;
    text-align: center;
}

.subheader .xs_visible {
    display: none;
}


@media (max-width: 1200px) {
    .menu .menu_item {
        padding-right: 21px;
    }
    .menu .menu_item .menu_link {
        font-size: 13px;
    }
    .promo .promo_header {
        font-size: 50px;
    }

    .reasons .reasons_block {
        align-items: flex-start;

    }
    .reasons .reasons_descr {
        width: 300px;
    }

    .mobile_item {
        width: 300px;
    }

    @media (max-width: 991px) {
    .menu .menu_item {
        padding-right: 8px;
    }
    .menu .menu_item .menu_link {
        font-size: 10px;
    }
    .subheader .subheader_logo img {
        width: 100%;
    }
    .subheader .subheader_official {
        font-size: 11px;
    }
    .subheader .subheader_phone {
        font-size: 18px;
    }
    .promo .promo_subheader {
        font-size: 23px;
    }
    .subheader .subheader_btn {
        margin-top: 21px;
        width: 100%;
        height: 40px;
    }
    .promo .promo_header {
        font-size: 40px;
    }
    .title {
        font-size: 30px;
    }
    .reasons .reasons_block {
        align-items: center;
        flex-direction: column;
    }
    .reasons .reasons_round {
        margin-right: 0;
    }
    .reasons .reasons_descr {
        margin-top: 20px;
    }
    .mobile_item {
        width: 220px;
        height: 230px;
    }
    .mobile_item_subtitle {
        font-size: 15px;
    }
    .choice_img {
        width: 90%;
    }
    .require_title {
        font-size: 16px;
    }
    .require_list li {
        font-size: 13px;
        line-height: 15px;
    }
    .require_descr {
        font-size: 14px;
    }
    .label {
        width: 100px;
    }
    .title {
    font-size: 25px;
    }
    .subtitle {
    font-size: 15px;
    }
}

@media (max-width: 767px) {
    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left:-100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color:rgba(0, 0, 0, .8);
        transition: 0.6s all;
        z-index: 5;
    }
    .menu_active {
        left: 0;
    }
    .menu .menu_item {
        padding-right:0;
        border: none;
        margin: 10px 0;
    }
    .menu .menu_item .menu_link {
        font-size: 20px;
    }
    a {
        text-decoration: none;
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
    }
    .hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background-color:#fff;
        margin-bottom: 2px;
        transition: 0.5s all;
    }
    .hamburger_active span {
        margin-bottom: -2px;
    }
    .hamburger_active span:nth-child(1) {
        transform: rotate(-45deg);
    }
    .hamburger_active span:nth-child(2) {
        display: none;
    }
    .hamburger_active span:nth-child(3) {
        transform: rotate(45deg);
    }
    .xs_hidden {
        display: none;
    }
    .subheader .xs_visible {
        display: block;
    }
    .subheader .subheader_phone {
        display: block;
        margin-top: 10px;
        font-weight: 400;
        font-size: 16px;
        text-align: center; 
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .subheader .subheader_btn {
        display: block;
        width: 200px;
        height: 40px;
        margin: 0 auto;
        margin-top: 10px;
    }
    .promo .promo_header {
        line-height: 45px;
    }

}

@media (max-width: 575px) {
    nav {
        height: 30px;
    }
    .header {
        height: 30px;
    }
    .subheader {
        height: 60px;
        top: 30px;
    }
    .label {
        font-size: 10px;
    }
    .subheader .subheader_official {
        display: none;
    }
    .subheader .subheader_logo {
        margin-top: 16px;
    }
    .subheader .subheader_phone {
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 11px;
    }
    .subheader .subheader_btn {
        width: 110px;
        height: 22px;
        font-size: 10px;
        margin-top: 6px;
    }
    .promo {
        min-height: 400px;
        padding: 93px 0 35px 0;
    }
    .promo .promo_descr {
        display: none;
    }
    .promo .promo_header {
        font-size: 30px;
        padding: 0 24px;
        line-height: 35px;
    }
    .promo .promo_subheader {
        font-size: 20px;
        margin-top: 33px;
        padding: 0 10px;
        line-height: 30px;
    }
    .promo .promo_btn {
        width: 210px;
        height: 50px;
        margin-top: 72px;

    }
    .menu {
        width: 85%;
    }
    .menu .menu_item {
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }
    .menu .menu_item .menu_link {
        display: block;
    }
    .reasons {
        padding: 22px 0 36px 0;
    }
    .reasons .reasons_block {
        margin-top: 26px;
    }
    .reasons .reasons_round {
        width: 100px;
        height: 100px;
    }
    .reasons .reasons_block .reasons_descr {
        width: 100%;
        margin-top: 27px;
    }
    .title {
        font-size: 16px;
        margin-top: 15px;
        line-height: 16px;
    }
    .mobile_item {
        width: 290px;
        height: 254px;
    }
    .choice {
        min-height: 393px;
        padding-bottom: 22px;
    }
    .require_list li {
        line-height: 16px;
    }
    .world_watch {
        font-size: 12px;
        line-height: 15px;
    }
    .choice_descr {
        font-weight: 300;
        font-size: 17px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
    }
} 